.title {
  text-align: center;
}

.todo.completed {
  text-decoration: line-through;
  cursor: pointer;
}

.todo {
  margin: 0 auto;
  font-size: 2rem;
  cursor: pointer;
}

#todos {
  color: #5e5c5d;
}

.form {
  margin: 0 0 0 40px;
}

.main {
  width: 400px;
  margin: 0 auto;
  border: 1px solid lightgray;
  padding: 10px;
}

.both {
  margin: 20px 0 0 70px;
}

input[type = button] {
  cursor: pointer;
}
